* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
}

hr {
  margin-top: 10px;
  color: rgb(90, 87, 87);
  height: 2px;
  margin-bottom: 5px;
}

.username {
  color: #000;
  text-align: center;
  
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 35vh;
  /* change color */
  background-color: #EBEBEB;
  overflow-x: hidden;
  padding: 20px 10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  /* change color */
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: black;
}

/* Main content */
.main {
  margin-left: 200px;
  font-size: 20px;
  padding: 0px 10px;
  
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #EBEBEB;
  color:black;
  
}

/* Dropdown container (hidden by default) */
.dropdown-container-two {
  display: none;
  /* change color */
  background-color: #EBEBEB;
  padding-left: 8px;
}

.second-dropdown {
  border: 2px solid black;
  border-radius: 3px;
  
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Customer Segmentation Starts */
.main-heading {
  text-align: center;
  margin-bottom: 10px;
  
}

.light-mode-button {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 30px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  
}

.light-mode-button:focus {
  outline: none;
}

.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
  
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
  
}

.two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: top;
  
}

.toogle-heading {
  color: #fff;
  
}

body {
  background-color: #f6f6f6;
  transition: background-color 0.3s;
  
  
}

body[light-mode="dark"] {
  background-color: #141516;
  color: #ced4e2;
  
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: #ced4e2;
  color: #141516;
  
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 28px;
  background-color: #141516;

}

body[light-mode="dark"] .generate-report {
  background-color: #ced4e2;
  color: #141516;
  
}
body{


  background-color: white;
  transition: background-color 0.3s;
  
  
}

.main-heading{
font: Inter;
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
}

.generate-report{
font: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}


body[light-mode="dark"] {
  background-color: #141516;
  color: #EBEBEB;
  
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: #EBEBEB;
  color: #141516;
  
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 28px;
  background-color: #141516;

}

body[light-mode="dark"] .generate-report {
  background-color: #EBEBEB;
  color: #141516;
  
}

.main-heading {
  background: transparent;
  text-align: center;
  margin-left: 300px;
}

.generate-report {
  background: transparent;
  text-align: center;
  margin-top: 15px;
  margin-left: 300px;
  font-weight: bold;
  cursor: pointer;
  
}

thone{
padding-top: 30px;

font-family: Inter;
font-size: 16px;
font-weight: bold;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
width: 114px;
height: 19px;
left: 656px;


}

topico{
width: 491px;
height: 43px;
top: 354px;
left: 656px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;


}




.area-one {
  background-color: #EBEBEB;
  display: flex;
  align-items: left;
  margin-top: 60px;
  grid-row-start: 40px;
  grid-row-end: 80px;
  margin-left: 220px;
  margin-right: 20px;
  width:100%
  
}

.box box1{
  width: 100%;
  padding-top: 30px;
  padding: auto;
}

thtwo{
  
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  width: 114px;
  height: 19px;
  top: 330px;
  left: 656px;
  
}

topic{
  width: 491px;
  height: 43px;
  top: 354px;
  left: 656px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  
  
}





.area-two{
  background-color: #EBEBEB;
  display: flex;
  align-items: left;
  
  margin-top: 30px;
  grid-row-start: 20px;
  grid-row-end: 40px;
  margin-left: 220px;
  margin-right: 40px;
  width:100%
  

}

.box box2{
  width: 100%;
}


.area-three {
  background-color: #EBEBEB;
  display: flex;
  align-items: left;
  
  margin-top: 30px;
  grid-row-start: 20px;
  grid-row-end: 40px;
  margin-left: 220px;
  margin-right: 40px;
  width:100%
}

.box box3{
  width: 100%;
}

.text{
  flex: 1 1 auto;
}

.imageo{
  flex: 0 0 auto;
  margin-right: 10px;
  margin-right: 20px; 
  margin-left: 17px; 
  margin-bottom: 20px;
}

.add{
  text-align: center;
  text-emphasis-color: white;
  background-color: #000;
  margin-left: 445px;
  margin-top: 50px;
  width: 175px;
  height:50px;
}



button{
  align-items: center;
  margin-top: 30px;
}

